@import "tailwindcss";

/* Variáveis TailwindCSS */
@theme {
  --color-branco: #feefdd;
  --color-cinza: #524948;
  --color-verde: #089746;
  --color-lavanda: #e1e3f4;
  --color-azul: #ffcc08;
  --color-azul-escuro: #2d2e3c;
}
